<apex:page standardController="Contact">
	<apex:includeLightning />
	<div id="contactphotoupload" />
    <script>
    	$Lightning.use("c:ContactPhotoUploadApp", function() {
          $Lightning.createComponent("c:ContactPhotoUpload",
          {recordId: "{!$CurrentPage.Parameters.id}"},
          "contactphotoupload",
          function(cmp) {
          });
        });
    </script>
</apex:page>